.pixel-perfect {
	top: 0;
	//top: 25px;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
} 

body,
html {

	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
}

body {
	// min-width: 320px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}

	&.fixed2{
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;
	}
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	position: relative;
	// padding-bottom: var(--sTPB);
	// border-top: 1px solid $gray-300;
	// padding-top: rem(18) !important;
	
	// & > *:last-child{
	// 	margin-bottom: 0;
	// }

	&.long{
		&:before{
			width: 99px;
		}
	}
	&.light{
		background-color: $light;

		margin-bottom: 30px;
		@include media-breakpoint-up(md){
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 30px;
		}
		padding: 0;
		&:before{
			margin-bottom: 13.5px;
			@include media-breakpoint-up(xl){
				margin-bottom: 13.5px;
			}
			@include media-breakpoint-up(xl){
				margin-bottom: 13.5px;
			}
		}

		h2, h1{
			// padding: 0 20px 20px 0;
			// @include media-breakpoint-up(md){
			// 	padding: 0 20px 20px 0;
			// }
			// @include media-breakpoint-up(xl){
			// 	padding: 0 20px 20px 0;
			// }
		}
	}
}



.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary!important;
		outline: none !important;
		@include mt;
		margin: 0 4px !important;

		&-active,
		&:hover {
			background-color: $red !important;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

*::selection {
	color: #fff;
	/* Цвет текста */
	background: var(--bs-primary) ;
	/* Цвет фона */
}



.custom-scroll {
	scrollbar-color: var(--bs-primary)  transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  transparent;
	
	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}
	
	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}
	
	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;
		
	}
	
	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}
	
	&::-webkit-scrollbar-button {
		display: none
	}
}

//
a{
	@include mt();
	text-decoration: none;
}
.swiper-prev,
.swiper-next{
	outline: none!important;
	position: absolute;
	top: 50%;

	width: 50px;
	height: 50px;
	color: $primary;
	// background: #EFF1F2;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	z-index: 2;
	&:hover {
		background-color: $gray-100;
	}
	.icon{
		@include mt();
		font-size: 50px;
		// color: transparent;
		// fill: none;
		// stroke: $primary;
	}

	@include mt();
	// box-shadow: 2px 2px 12px 0 rgba($black, 0) !important;
	&:hover{
		// box-shadow: 2px 2px 12px 0 rgba($black, .2) !important;
		background-color: transparent;
		.icon{
			transform: scale(1.1);
		}
	}
}

.swiper-prev{
	left: -38px;
	transform: translateX(-50%) translateY(-50%);
}
.swiper-next{
	right: -38px;
	transform: translateX(50%) translateY(-50%);
}
//
.headerBlock {
	// .swiper-pagination-bullet {
	// 	width: 16px;
	// 	height: 16px;
	// 	margin: 0 6px;
	// 	@include media-breakpoint-down(sm){
	// 		width: 7px;
	// 		height: 7px;
	// 	}
	// }
	.swiper-prev,
	.swiper-next{
		outline: none!important;
		position: absolute;
		top: auto;
		bottom: 29px;

		width: 36px;
		height: 36px;
		border-radius: 0;
		border: 0;
		background-color: $red;
		transform: none;

		display: flex;
		align-items: center;
		justify-content: center;

		z-index: 2;
		.icon{
			@include mt();
			font-size: 15px;
			color: transparent;
			stroke: $white;
			stroke-width: 2px
		}

		@include mt();
		box-shadow: 2px 2px 12px 0 rgba($black, 0) !important;
		&:hover{
			box-shadow: 2px 2px 12px 0 rgba($black, .2) !important;
			.icon{
				transform: scale(1.1);
			}
		}
	}

	.swiper-prev{
		left: auto;
		right: 129px;
	}
	.swiper-next{
		right: 91px;
	}
}

//
.swiper-pagination{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.swiper-pagination-bullet{
		position: relative;
		z-index: 1;
		// &:before{
		// 	content: '' !important;
		// 	z-index: -1;
		// 	height: 40px;
		// 	width: 60px;
		// 	top: 50%;
		// 	left: 0;
		// 	transform: translateY(-50%);
		// 	position: absolute;
		// }


		border-radius: 50%;
		// width: 14px;
		// height: 14px;
		// @include media-breakpoint-up(sm){
		// 	height: 4px;
		// }
		background-color: $white !important;
		&-active{
			background-color: $red;
		}
		// &:hover{
		// 	background-color: lighten($primary, 10);
		// }
	}
}

//
.accept-ratio-frame{
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	//background-color: $black;
	overflow: hidden;
	&:hover{
		img{
			// opacity: .8;
			filter: brightness(115%);
			//transform: scale(1.1);
		}
	}

	img{
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.accept-ratio-frame-nh{
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;

	img{
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.main-wrapper {
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	min-width: 0;
	min-height: 100vh;
}

.breadcrumb{
	list-style: none;

	padding: 0 ;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.breadcrumb-item{
		margin-bottom: 0;

		font-weight: 400;
		font-size: 12px;
		line-height: 1.60em;
		display: flex;
		align-items: center;

		a{
			//color: #FFFFFF;
			&:hover{
				//color: $gray-600;
			}
		}

		&:after{
			content: '';
			margin: 0 10px;
			width: 10px;
			height: 11px;

		  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' viewBox='0 0 8 11' fill='none'%3E%3Cpath d='M5.95312 6.24609L2.00781 10.25L0.992188 9.19531L4.95703 5.19141L1.05078 1.30469L2.04688 0.25L7.00781 5.19141L5.95312 6.24609Z' fill='%230095c9'/%3E%3C/svg%3E");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		&:last-child{
			a{
				//color: #FFFFFF;
				pointer-events: none;
			}
			&:after{
				content: none;
			}
		}
	}
}

h2{
	font-size: 24px;
	@include media-breakpoint-up(sm){
		font-size: 34px;
	}
}

// .container{
// 	@include media-breakpoint-between(xsm, sm){
// 		padding-left: 20px;
// 		padding-right: 20px;
// 	}
// }
//
body{
	//pop-up css
	&.stop-scrolling {
		height: 100%;
		min-height: 0; //delete
		overflow: hidden;
	}
}
//
.pagination{
	padding-top: rem(25);
	@include media-breakpoint-up(md) {
		padding-top: rem(50);
	}
	&__row{
		align-items: center;
		justify-content: center;
		--bs-gutter-x: 0;
		// @include roww(20px);
		// @include media-breakpoint-down(sm) {
		// 	@include roww(6px);
		// }
	}
	&__btn{
		@include mt;
		color: $gray-600;
		&:hover {
			color: $primary;
		}
		.icon {
			font-size: rem(35);
			@include media-breakpoint-up(sm) {
				font-size: rem(50);
			}
		}
		&--link{
			justify-content: center;
			align-items: center;
			color: $gray-600;
			&:hover {
				color: $primary;
			}
			@include media-breakpoint-down(sm) {
				--bs-pagination-padding-x: 1.06875rem;
				--bs-pagination-padding-y: 0.4875rem;
			}
			// border: 1px solid $gray-400;
			// &:not(.current):hover{
			// 	border: 1px solid $primary!important;
			// 	background-color: transparent!important;
			// 	color: $body-color!important;
			// }
			&:not(.current) {
				@include media-breakpoint-down(sm) {
					--bs-pagination-padding-x: 0.6rem;
					--bs-pagination-padding-y: 0.4875rem;
				}
			}
			&.current{
				pointer-events: none;
				// background-color: $primary;
				border-radius: 50%;
				color: $white;
				font-weight: 700;
				border: 1px solid rgba($color: $primary, $alpha: .2);
				position: relative;
				&::before {
					@include a-cent();
					content: '';
					position: absolute;
					display: block;
					width: calc(100% - 6px);
					height: calc(100% - 6px);
					border: 2px solid rgba($color: $primary, $alpha: .5);
					border-radius: 50%;
					z-index: -1;
				}
				&:after {
					@include a-cent();
					content: '';
					position: absolute;
					display: block;
					border-radius: 50%;
					width: calc(100%);
					height: calc(100%);
					background-color: $primary;
					z-index: -1;
					@include media-breakpoint-up(sm) {
						width: calc(100% - 18px);
						height: calc(100% - 18px);
					}
				}
			}
		}
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		padding: 5px;

		width: 34px;
		height: 34px;
		// @include media-breakpoint-up(xsm){
		// 	width: 36px;
		// 	height: 36px;
		// }
		@include media-breakpoint-up(sm){
			width: 50px;
			height: 50px;
		}
	}
}

.form-select{
	cursor: pointer;
	background-image: url(../img/svg/chevron-down.svg) !important;
	background-size: 14px;
}

.btn-primary.disabled{
	--bs-btn-disabled-bg: $secondary!important;
	--bs-btn-disabled-color: $body-color!important;
	border-color: $secondary!important;
}

.btn-outline-primary.disabled{
	--bs-btn-disabled-bg: $white!important;
	--bs-btn-disabled-color: $body-color!important;
	border-color: $secondary!important;
}

.bx-sls .bx-ui-sls-container .bx-ui-sls-fake, .bx-sls .bx-ui-sls-container .bx-ui-sls-route {
	height: 40px;
}

.object-contain{
	
}

.btn-primary {
	--bs-btn-color: #{$white};
	--bs-btn-hover-bg: #{$cyan};
	--bs-btn-hover-color: #{$white};
	--bs-btn-hover-border-color: #{$cyan};
	// &:hover {
	// }
}
.btn-outline-primary {
	--bs-btn-hover-color: #{$white};
	--bs-btn-hover-bg: #{$cyan};
	--bs-btn-hover-border-color: #{$cyan};
	// &:hover {
	// }
}
.btn-white {
	--bs-btn-color: #{$primary};
}

.icon-sprite {
	fill: currentColor;
}

.img-wrap-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.main-page {
	background-image: url('../img/@2x/section-bg.jpg');
	background-repeat: repeat-y;
	background-position: center;
	// background-size: contain;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(0deg, rgba(5, 4, 15, 0.4), rgba(5, 4, 15, 0.4));
		left: 0;
    top: 0;
    z-index: -1;
	}
}

.bx-sls .bx-ui-sls-container .bx-ui-sls-fake,
.bx-sls .bx-ui-sls-container .bx-ui-sls-route {
	height: 40px
}


.bx-sls {
	flex-grow: 1
}

.bx-sls .dropdown-block {
	min-height: 2.5625rem
}
.sOrder{
	.cat-aside .form-wrap, form {
    background-color: transparent;
}


}
.dropdown-fade2white{
	background: none;
}
.bx-sls .dropdown-block{
	border-radius: 10px;
}

.swiper-button-disabled{
	opacity: 0.2;
}

.mono2{
	font-family: $font-family-monospace2;
}

// .sArticle__b-item-header{
// 	margin-bottom: 10px;
// }
// start .sBrandReviews
.sBrandReviews {
	--sPT: 0;
	--sPB: #{rem(45)};
	// --sTPB: ;
	margin-top: rem(-230);
	position: relative;
	z-index: 2;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(90)};
	}
	&__row {
		--bs-gutter-y: #{rem(20)};

		margin-bottom: rem(25);
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(40)};

			margin-bottom: rem(50);
		}
	}
	&__head-row {
		--bs-gutter-y: #{rem(15)};

		align-items: center;
		margin-bottom: rem(41);
	}
	&__wrap {
		background-color: var(--sBrandReviewsBgColor, #fff);
		padding-top: rem(30);
		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: rem(73);
			background-color: var(--sBrandReviewsBgColor, #fff);
			top: 0;
		}
		&:before {
			left: 100%;
		}
		&::after {
			right: 100%;
		}
		h1 {
			margin-bottom: rem(15);
		}
	}
	&__mark {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include media-breakpoint-up(sm) {
			flex-wrap: nowrap;
		}
	}
	&__average {
		display: flex;
		align-items: center;
		color: var(--heading-color, #131313);
		letter-spacing: 0.02em;
		margin-right: rem(25);
		margin-bottom: rem(7);
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xxl) {
			margin-right: rem(30);
			font-size: rem(20);
		}
		span {
			color: var(--bs-primary, $primary);
			font-weight: 600;
			margin-left: rem(10);
		}
	}
	&__stars {
		@include roww('5px');
		display: flex;
		align-items: center;
		// .icon {
		// 	flex: 0 0 auto;
		// 	font-size: rem(17);
		// 	// color: var(--bs-primary-light,#FFD2BF);
		// 	&.active {
		// 		// color: var(--bs-primary, $primary);
		// 	}
		// }
	}
	&__how-much {
		color: var(--textColor, $gray-600);
		margin-left: rem(13);
		@include media-breakpoint-up(xxl) {
			font-size: rem(18);
		}
	}
	&__filter {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
		}
		p {
			margin-bottom: 0;
			letter-spacing: 0.02em;
			margin-right: rem(7);
			@include media-breakpoint-down(sm) {
				width: 100%;
				margin-right: 0;
				margin-bottom: rem(7);
			}
			@include media-breakpoint-up(xxl) {
				margin-right: rem(24);
			}
		}
		a {
			display: block;
			padding: rem(10) rem(9);
			color: #9C9C9C;
			text-decoration: none;
			letter-spacing: 0.02em;
			border-radius: 30px;
			@include media-breakpoint-up(sm) {
				padding: rem(10) rem(15);
			}
			@include media-breakpoint-up(xxl) {
				padding: rem(10) rem(20);
			}
			&.active, &:hover {
				background-color: $gray-100;
				color: #131313;
			}
		}
	}
	&__link {
		font-size: rem(20);
		letter-spacing: 0.02em;
		text-decoration: none;
		&:not(:hover) {
			color: var(--bs-primary, $primary);
		}
	}
	&__review-row {
		--bs-gutter-y: #{rem(20)};

		margin-bottom: rem(50);
	}
	&__review-wrap {
		background-color: $gray-100;
		@include roww('25px');
		display: flex;
		flex-wrap: wrap;
		padding: rem(20);

		--bs-gutter-y: #{rem(10)};
		margin-top: calc(var(--bs-gutter-y) * -1);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
	}
	&__review-item {
		p {
			font-size: rem(14);
			color: #9C9C9C;
			margin-top: rem(10);
			margin-bottom: 0;
			span {
				color: $headings-color;
				margin-right: rem(8);
			}
		}
	}
	&__btn {
		--bs-btn-color: #B1B1B1;
    --bs-btn-border-color: #D4D4D4;
		// --bs-btn-hover-bg: #f8f9fa;
    // --bs-btn-hover-border-color: #D4D4D4;
		// --bs-btn-active-bg: #f8f9fa;
    // --bs-btn-active-border-color: 

		letter-spacing: 0.02em;
		text-transform: uppercase;
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-x: #{rem(13.2)};
			--bs-btn-font-size: #{rem(14.4)};
		}
		@include media-breakpoint-up(xl) {
			--bs-btn-padding-x: #{rem(18)};
			--bs-btn-font-size: #{rem(16)};
		}
	}
	&__img {
		@include media-breakpoint-up(xl) {
			// padding: rem(0) rem(35);
			margin-right: rem(35);
			margin-left: auto;
		}
		@include media-breakpoint-up(lg) {
			width: 100%;
			max-width: rem(104);
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
		img {
			width: 100%;
			max-width: rem(104);
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__item-row {
		--bs-gutter-x: 0;

		align-items: center;
	}
	&__img-wrap {
		@include block(255, 251);
		width: 100%;
		max-width: rem(255);
		padding: rem(30) 0;
		@include media-breakpoint-up(lg) {
			padding: 0 rem(60) 0 rem(30);
			min-width: calc(rem(255) + rem(90));
		}
	}
	&__head {
		padding: rem(20) rem(20);
		background-color: var(--bs-gray-900, $gray-900);
		color: var(--bs-white, $white);
		@include media-breakpoint-up(lg) {
			padding: rem(20) rem(50);
		}
		.row {
			--bs-gutter-x: #{rem(20)};
			--bs-gutter-y: #{rem(15)};

			// align-items: center;
		}
	}
	&__name {
		font-size: rem(20);
	}
	&__rate {
		font-size: rem(14);
		color: var(--rateColor, $gray-500);
		margin-right: rem(7);
		line-height: 2.1;
	}
	&__count {
		color: $primary;
		font-weight: bold;
		margin-left: rem(7);
	}
	&__model {
		font-size: rem(20);
		letter-spacing: 0.02em;
		@include media-breakpoint-up(xl) {
			padding-left: rem(40);
		}
	}
	&__body {
		padding: rem(20) rem(20);
		background-color: $gray-100;
		@include media-breakpoint-up(lg) {
			padding: rem(20) rem(50) rem(30) rem(50);
		}
		.row {
			--bs-gutter-x: 0;
			--bs-gutter-y: #{rem(30)};
		}
	}
	&__date {
		font-size: rem(14);
		color: var(--rateColor, $gray-500);
	}
	&__content {
		h5 {
			font-weight: 500;
			margin-bottom: rem(10);
			line-height: 1.45em;
			color: var(--heading-color, #131313);
		}
		p {
			margin-bottom: 0;
			color: var(--heading-color, #131313);
		}
	}
	&__btn-showMore {
		--bs-btn-font-size: #{rem(18)};
		--bs-btn-border-color: #{$gray-100};

		display: block;
		width: 100%;
		max-width: rem(1015);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(40);
	}
} // end.sBrandReviews
.reviews {
	h3 {
		@include rfs(24px);
		margin-bottom: rem(20);
	}
	&__stars {
		display: flex;
		align-items: center;
		margin-bottom: rem(39);
	  .icon-sprite{
			font-size: rem(17);
		margin-right: 3px;
			// color: #FFD2BF;
			&.active {
				// color: #FF8651;
			}
		}
	}
}


[data-rating] {
	.icon-sprite{
		color: rgba( $primary,  20%); 
	}
}
[data-rating="1"] {
	.icon-sprite:nth-child(1){
		color: var(--bs-primary);
	}
}

[data-rating="2"] {
	.icon-sprite:nth-child(-n + 2){
		color: var(--bs-primary);
	}
}
[data-rating="3"] {
	.icon-sprite:nth-child(-n + 3){
		color: var(--bs-primary);
	}
}
[data-rating="4"] {
	.icon-sprite:nth-child(-n + 4){
		color: var(--bs-primary);
	}
}
[data-rating="5"] {
	.icon-sprite {
		color: var(--bs-primary);
	}
}

.sArticle__b-item-header{
	align-items: center;
}


.sServises{
	.swiper-prev{
		left: 10px;

	}
	.swiper-next {
		right: 10px;
	}
	&__slider{
		margin-right: calc(-1 * var(--bs-gutter-x) / 2);
		margin-left: calc(-1 * var(--bs-gutter-x) / 2);
	}
	
	&__slide{
		@include media-breakpoint-up(sm) {
			max-width: calc(100% / 3);
		}
		max-width: calc(100% / 2);
		padding-right: calc(var(--bs-gutter-x) / 2);
		padding-left: calc(var(--bs-gutter-x) / 2);

	}
	&__slide-link{
	}
	&__slide-text-container{
		display: flex;
		justify-content: center;
	}	
}
.sServises__slide-img-wrap{
	@include block(3,2);
	margin-bottom: 0.5rem;
}


.sServises{
	.swiper-prev{
		left: 10px;

	}
	.swiper-next {
		right: 10px;
	}
	&__slider{
		margin-right: calc(-1 * var(--bs-gutter-x) / 2);
		margin-left: calc(-1 * var(--bs-gutter-x) / 2);
	}
	
	&__slide{
		@include media-breakpoint-up(sm) {
			max-width: calc(100% / 3);
		}
		max-width: calc(100% / 2);
		padding-right: calc(var(--bs-gutter-x) / 2);
		padding-left: calc(var(--bs-gutter-x) / 2);

	}
	&__slide-link{
		// @include block(3,2);
	}
}



.fancybox__backdrop {
	backdrop-filter: blur(2.5px);
}

.modal-head{
	padding: 22px var(--sp-modal);
	border-radius:20px 20px  0 0 ;
	background: #2A2D30;
	.h1{
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		margin: 0;
		padding: 0;
		color: #fff;
		text-transform: uppercase;
	}
}
.modal-body{
	padding: 50px var(--sp-modal);
	border-radius: 0 0 20px 20px;
	background-color: #fff;
	.form-wrap__btn{
		width: 165px;
	}
}


/* Rating */

.rating {
	margin: 0 0 1em 0;
	padding: 0;
	border: none;

	/* Caption */

	&__caption {
		margin-bottom: 0.5em;
		padding: 0;
	}

	/* Group */

	&__group {
		position: relative;
		width: rem(85);
		height: rem(17);
		background-image: url('../img/svg/star-off.svg');
		background-size: rem(17);
		background-repeat: repeat-x;
	}

	/* Input */

	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}

	&__input:focus ~ &__focus {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		outline: 0.2em solid #4a90e2;
		outline-offset: 0.2em;
	}

	/* Star */

	&__star {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		height: rem(17);
		background-size: rem(17);
		background-repeat: repeat-x;
		margin-right: 1px;
		margin-right: 5px;
	}

	&__star:hover,
	&__input:checked + &__star {
		background-image: url('../img/svg/star-on.svg');
	}

	&__star:hover ~ &__star {
		background-image: url('../img/svg/star-off.svg');
	}

	/* Options */

	&__star:nth-of-type(1) {
		z-index: 5;
		width: rem(17);
	}

	&__star:nth-of-type(2) {
		z-index: 4;
		width: calc(rem(17) * 2);
	}

	&__star:nth-of-type(3) {
		z-index: 3;
		width: calc(rem(17) * 3);
	}

	&__star:nth-of-type(4) {
		z-index: 2;
		width: calc(rem(17) * 4);
	}

	&__star:nth-of-type(5) {
		z-index: 1;
		width: calc(rem(17) * 5);
	}
}

:root{
	--sp-modal: calc(35px + 5vw);
	--fancybox-bg: rgba(42, 45, 48, 0.5);
}


.prodTabs__wrap{
  .btn-marko{
	display: inline-flex;
	width: rem(180);
	padding: 0;
	height: rem(48);
	align-items: center;
	justify-content: center;
  }
}

.prod-rews{
  border-bottom: 1px solid #d2d2d2;margin-bottom: 3rem;
  .sArticle__b-item{
	&:nth-child(n + 3) {
	  display: none;
	}
  }
}