mixin sAdv(data)
	// start sAdv
	+b.SECTION.sAdv#sAdv&attributes(attributes)
		+e.inner.section
			.container
				+b.section-title
					h2 наши преимущества
							
				+e.row
					mixin item(i,t,p)
						+e.item
							div
								+e.title!= t
									+img(`img/adv-${i}.svg`).icon
								p!= p
							block
					+item(`1`,`Широкий рынок покупателей `,`Наша продукция представлена во многих странах мира и количество дистрибьютеров постоянно увеличивается.`)
					+item(`2`,`Доставка по странам СНГ`,`Наш сервис клиентоориентирован. Покупатели могут оформить заказ на нашем официальном сайте Nanlite.ru с доставкой на дом.`)
					+item(`3`,`Свое производство`,`Наше производство и цеха постоянно внедряют новые технологии для улучшения качества продукции, при этом продукция производится на высокоточном оборудовании.`)
					+item(`4`,`Узнаваемый бренд`,`Наш бренд является одним из лидеров рынка в своей нише.`)
					+item(`5`,`Высокое качество при доступности цены`,`Качество нашей продукции позволяет добиться по настоящему профессионального освещения. При этом продукция обладает доступной ценой по отношению к аналогичной у конкурентов, но не уступая в качестве.`)
						+e.img-wrap
							+img("img/adv-img.png").res-i
	// end sAdv