mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.section-title
				h2 о нашей компании
				+img("img/logo-light.png").logo
				+e.imgs
					+img("img/img-1.jpg")
					+img("img/img-3.jpg")
					+img("img/img-2.jpg")
			div
				p Компания NANLITE разрабатывает осветительные приборы, которые предоставляют пользователям новые, расширенные возможности по созданию профессионального освещения, уделяя особое внимание самым высоким стандартам в производстве и дизайне.Nanlite – это профессиональные осветительные приборы с выдающимися показателями светоотдачи, спроектированные таким образом, чтобы обеспечить максимальную производительность. Приборы оснащены самыми современными светодиодными модулями COB и обеспечивают высочайшую точность цветопередачи CRI.
	// end sAbout