mixin sFormat(data)
	// start sFormat
	+b.SECTION.sFormat.section#sFormat&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4
					+e.item--color
						+e.head
							+e.title Выберите подходящий формат партнерства
								img(src="img/icon.svg", alt="")
						p Вся информация о вашем доходе будет отображаться в личном кабинете в не зависимости от формата партнерского соглашения
				.col-sm
					+e.item--var
						+e.title Партнер
						+e.title-sub Зарабатывайте #[span 5%] со всех продаж продукции на нашем сайте, купленной по вашей реферальной ссылке.
						p Вам достаточно разместить ссылку на любом ресурсе с трафиком и все продажи по вашей ссылке будут отображаться в личном кабинете партнера.
				.col-sm
					+e.item--var
						+e.title Рекрутер
						+e.title-sub Приглашайте в нашу партнерскую программу, как можно больше новых партнеров и получаете 2% со всех доходов зарегистрированных партнеров по вашей реферальной ссылке #[span пожизненно].
	// end sFormat