// start .sCatalog
@use "sass:math";

.sCatalog {
	padding-top: 0;
	padding-bottom: 45px;
	.section-title {
		padding-bottom: 15px !important;
	}
	h2 {
		text-transform: uppercase;
	}
	&.sCatalog--also{
		.sCatalog__slide{
			@include media-breakpoint-up(lg){
				width: calc((100% / 3) - (30px * 2 / 3));
			}
		}
		.section-title{
			&:before{
				margin-bottom: 16px!important;
			}
		}
	}
	&.sCatalog--prodcard {
		.section-title {
			margin-bottom: 15px;
		}
	}
	&--hit {
		border-bottom: 1px solid $gray-500;
	}
	&--similarProducts {
		padding-top: rem(33);
		padding-bottom: rem(20);
		.section-title {
			margin-bottom: rem(18) !important;
		}
		.sCatalog {
			&__row {
				--bs-gutter-x: #{rem(30)};
				--bs-gutter-y: #{rem(30)};
				margin-bottom: rem(24);
				@include media-breakpoint-up(md) {
					margin-bottom: rem(48);
				}
			}
			&__btn {
				display: flex;
				align-items: center;
				justify-content: center;
				.icon {
					flex: 0 0 auto;
					margin-left: rem(5);
					font-size: rem(7);
					fill: none;
					stroke-width: 2px;
					stroke: $primary;
				}
			}
		}
		.prod-item {
			&__badge {
				left: 0;
				border-radius: 0;
			}
		}
	}
	&.sCatalog--similar{
		.swiper-wrapper{
			@include media-breakpoint-up(md){
				transform: none!important;
				flex-wrap: wrap!important;
			}

			&.has-plus-btn{
				.swiper-slide{
					@include media-breakpoint-up(md){
						&:nth-child(n + 9) {// 5looped slides + 3 visiable
							display: none;
						}
					}
				}
			}

		}
		.sCatalog__slide{
			&.swiper-slide-duplicate{
				@include media-breakpoint-up(md){
					display: none;
				}
			}
			@include media-breakpoint-up(md){
				width: 100%;
				margin-bottom: 30px;
			}
		}

		.section-title{
			&:before{
				margin-bottom: 16px!important;
			}
		}
	}
	&__plus-btn{
		@extend .btn;
		@extend .btn-light;
		padding: 0;

		width: 50px;
		height: 50px;
		border-radius: 50%;

		display: inline-flex;
		align-items: center;
		justify-content: center;

		.icon{
			stroke: $primary;
			stroke-width: 2px;
			font-size: 22px;
		}
	}
	//


	.section-title {
		padding-bottom: rem(29);
	}

	.swiper{
		margin: -20px;
    padding: 20px;
		@include media-breakpoint-down(sm){
			overflow: visible!important;
		}
	}
	&__slider-wrappper {

	}

	&__slide {
		width: 223px;
		@include media-breakpoint-up(sm){
			width: calc((100% / 2) - (30px * 1 / 2));
		}
		@include media-breakpoint-up(md){
			width: calc((100% / 3) - (30px * 2 / 3));
		}
		@include media-breakpoint-up(lg){
			width: calc((100% / 4) - (30px * 3 / 4));
		}
		height: auto;
	}

	&__slider-wrappper {
		position: relative;
	}

	&__col {
		margin-bottom: 30px;
	}

	&.sCatalog--familiar{
		padding-bottom: 0;
		h2 {
			font-size: rem(20);
			text-transform: uppercase;
			margin-bottom: rem(8);
		}
		.prod-item__box {
			min-height: rem(69);
		}
		.sCatalog__slide{
			@include media-breakpoint-up(lg){
				width: calc((100% / 4) - (30px * 2 / 4))!important;
				max-width: rem(262);
			}
		}
	}
}

// end.sCatalog

.prod-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: rem(20);
	// padding: 60px 20px 20px;
	// background-color: $light;
	min-height: 100%;
	line-height: math.div(22, 18);
	@include mt;
	border: 1px solid $gray-100;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	text-align: center;
	z-index: 1;
	&:hover {
		box-shadow: 0px 3px 20px rgba(30, 159, 204, 0.2);
		.prod-item__title {
			color: $primary;
		}
	}
	&__links {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;
		@include media-breakpoint-down(sm) {
			top: 5px;
		}
		.icon {
			// stroke: #cccccc;
			font-size: 24px;
			color: $gray-500;
			// fill: none;
			@include mt;
			&:hover {
				color: $primary;
			}
		}
		
	}
	&__compare {
		// margin-right: 10px;
	}
	&__compare--active,
	&__bookmarks--active {
		.icon {
			stroke: $primary;
		}
	}
	
	
	&__img-link {
		// display: block;
		// flex-grow: 1;
		&:hover {
			.prod-item__code {
				color: $cyan;
			}
		}
	}
	//
	&__img-wrap {
		@include block(222,180);
		max-width: 222px;
		margin-left: auto;
    margin-right: auto;
		margin-top: rem(31);
		margin-bottom: rem(5);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	
	//
	&__code{
		font-size: 16px;
		line-height: 160%;
		color: $gray-600;
		margin-bottom: rem(3);
	}
	&__title {
		@include mt;
		display: block;
		margin-bottom: rem(18);
		font-size: 16px;
		line-height: 1.375em;
		font-weight: 600;
		color: $gray-700;
		border-top: 1px solid $gray-100;
		padding-top: rem(18);
		padding-left: rem(18);
		padding-right: rem(18);
	}
	&__box{
		position: relative;
		flex-grow: 1;
	}
	
	&__price-wrap {
		display: flex;
		flex-direction: column;
		margin-bottom: rem(18);
	}
	
	&__price--old {
		font-size: 14px;
		text-decoration-line: line-through;
		white-space: nowrap;
		color: $red;
		padding-top: 5px;
	}
	
	&__inStock, &__notInStock {
		color: $gray-600;
		// position: relative;
		// padding-left: 16px;
		margin-bottom: rem(18);
		&:before {
			content: '';
			display: inline-block;
			// position: absolute;
			margin-right: 10px;
			width: 9px;
			height: 9px;
			border-radius: 50%;
		}
	}
	&__inStock {
		&:before {
			background-color: $green;
		}
	}
	&__notInStock {
		&:before {
			background-color: $red;
		}
	}

	&__price--new {
		font-size: 24px;
		white-space: nowrap;
	}

	&__discount {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 13px;
		right: 0;
		width: 54px;
		height: 24px;
		background-color: $red;
		color: $white;
		font-size: 14px;
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		color: $white;
		display: block;
		width: calc(100% - 30px);
		max-width: rem(222);
		margin-left: auto;
		margin-right: auto;
		&:hover {
			color: $white;
			background-color: $cyan;
		}
	}

	&__labels {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
	}

	&__label-link {
		@extend .btn;
		@extend .btn-outline-light;
		padding: 0;
		width: rem(30px);
		height: rem(30px);
		display: flex;
		justify-content: center;
		margin-left: rem(5);
		font-size: rem(18);

		.icon {
			font-size: rem(18);
			color: transparent;
			stroke: $primary;
			stroke-width: 1px;
		}

		.icon-like {
			font-size: rem(16);
		}
	}

	&__badge {
		position: absolute;
		left: 30px;
		top: 0px;

		color: $white;
		font-size: 10px;
		font-weight: 700;
		line-height: 1.2;
		padding: 4px 11px;
		z-index: 10;
		background-color: $red;
		border-radius: 0px 0px 5px 5px;
		text-transform: uppercase;
		// &.bg-green{
		// 	background-color: $green;
		// }
		// &.bg-blue{
		// 	background-color: $blue;
		// }
	}
}
//
.long-item{
	@include mt;
	position: relative;
	display: flex;
	padding: 0 0 0 20px;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	&:hover {
		box-shadow: 0px 3px 20px rgba(30, 159, 204, 0.2);
	}
	@include media-breakpoint-down(md){
		min-height: 100%;
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	&__about-col{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 31%;
		padding-right: rem(20);
		@include media-breakpoint-down(md) {
			width: 100%;
			padding-right: 0;
		}
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
			margin: 0 auto;
		}
		&:hover {
			.long-item__code {
				color: $cyan;
			}
		}
	}
	&__img{
		@include block(222,180);
		max-width: 222px;
		// margin-top: auto;
		// margin-right: rem(50);
		width: 100%;
		// padding-top: 20px;
		// padding-bottom: 20px;
		// img {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// }
	}
	&__content-col{
		position: relative;
		display: flex;
		flex-direction: column;
		// padding: 20px 20px 20px 0;
		flex-grow: 1;
		@include media-breakpoint-down(md){
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		// --pad-l: 15px;
		// padding: 12px var(--pad-l, 15px) 0;
		@include media-breakpoint-up(md){
			
		}
	}
	
	&__price-col{
		display: flex;
		flex-direction: column;
		// position: relative;
		margin-left: auto;
		padding: rem(15) rem(10) rem(10) rem(15);
		// min-width: 30%;
		min-height: rem(230);
		@include media-breakpoint-down(md) {
			width: 100%;
			margin-bottom: 12px;
			justify-content: center;
		}
		@include media-breakpoint-up(md){
			padding: rem(30) rem(20) rem(20) rem(39);
			border-left: 1px solid $gray-100;
			width: 69%;
		}
	}
	.prod-item__discount{
		position: static;
		margin-bottom: 17px;
	}
	&__links {
		position: absolute;
		right: 10px;
		top: 10px;
		// @include media-breakpoint-up(lg){
			// 	top: 14px;
		// }
		// @include media-breakpoint-up(md){
			// 	right: 23px;
			// 	top: 5px;
		// }
		.icon {
			font-size: 24px;
			@include mt;
			// stroke: $gray-600;
			// fill: none;
		}
		&:hover, &.active {
			color: $primary;
		}
	}
	
	&__compare {
		color: $gray-500;
		&:hover, &.active {
			color: $primary;
		}
		.icon {
			font-size: 24px;
		}
	}
	&__inStock, &__notInStock {
		color: $gray-600;
		// position: relative;
		// padding-left: 16px;
		margin-bottom: rem(18);
		&:before {
			content: '';
			display: inline-block;
			// position: absolute;
			margin-right: 10px;
			width: 9px;
			height: 9px;
			border-radius: 50%;
		}
	}
	&__inStock {
		&:before {
			background-color: $green;
		}
	}
	&__notInStock {
		&:before {
			background-color: $red;
		}
	}
	&__tag{
		position: absolute;
		top: 0;
		left: 20px;
		background: $red;
		color: $white;
		z-index: 2;
		padding: 4px 8px;
		font-weight: 700;
		text-transform: uppercase;
		color: $white;
		@include media-breakpoint-down(md){
			font-size: 12px;
		}
	}
	&__code{
		color: $gray-600;
		margin-bottom: rem(3);
	}
	&__title{
		margin-bottom: 18px;
		font-weight: 600;
		font-size: 16px;
		color: $gray-700;
	}
	&__footer-row {
		align-items: center;
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(10)};
		@include media-breakpoint-down(md) {
			justify-content: center;
			text-align: center;
		}
	}
	// &__lower-row{
	// 	margin-top: auto;

	// 	@include media-breakpoint-up(md){
	// 		& > *{
	// 			margin-bottom: 12px;
	// 		}
	// 		margin-bottom: -12px;
	// 	}
	// }
	&__price--old{
		white-space: nowrap;
		font-size: 14px;
		text-decoration-line: line-through;
		color: $red;
		white-space: nowrap;
		margin-right: 7px;
	}
	&__price--new{
		white-space: nowrap;
		font-size: 24px;
		line-height: math.div(19, 16);
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;		
		min-width: 184px;
		margin: auto auto 0;
		--bs-btn-padding-y: #{rem(11)};
		--bs-btn-color: #{$white};
		--bs-btn-border-radius: #{rem(10)};
	}
	&__btn-col{
		@include media-breakpoint-down(md){
			margin: 0 calc(-1 * var(--pad-l, 15px));
			width: calc(100% + var(--pad-l, 15px) * 2);
			max-width: calc(100% + var(--pad-l, 15px) * 2);
		}
	}
	&__{}
}