mixin sWhatGEt(data)
	// start sWhatGEt
	+b.SECTION.sWhatGEt.section#sWhatGEt&attributes(attributes)
		.container
			+b.section-title
				h2 Что вы получаете при подключении к партнерской программе Nanlite?
				p Прежде всего это возможность работать с нами напрямую в качестве партнера и конечно зарабывать большие деньги!
			div
				+b.btn-arrow.btn.btn-primary(href="#sFormat")
					+e.text Ниже тарифы
					+e.arrow
						+icon("arrow-lg")
	// end sWhatGEt