mixin sNewsBox(main)
	// start sNewsBox
	if main
		+b.SECTION.sNewsBox.section#sNewsBox&attributes(attributes)
			.container
					h1 Новости
					+e.wrap(href="#")
						+pic('news-img-main.jpg')
						+e.mainTitle.font-monospace новости
					+e.row.row
						+NewsBoxItem('1')
						+NewsBoxItem('2')
						+NewsBoxItem('3')
						+NewsBoxItem('4')
						+NewsBoxItem('5')
						+NewsBoxItem('6')
					+e.btn-wrap
						+e.btn(href="#") Показать ещё
							+icon('chevron-down-24')
	else
		+b.SECTION.sNewsBox--2.section#sNewsBox&attributes(attributes)
			.container
				+e.row.row
					+NewsBoxItem('1', '12.05.2022', 'Всего один CLICK!','Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('2', '12.05.2022', 'Все данные в одном формате', 'MeasureOn – приложение для простого документирования поэтажных планов помещений, результатов измерений, фотографий и заметок прямо на рабочей площадке.')
					+NewsBoxItem('4', '12.05.2022', 'Созданы для работы по дереву', 'Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('5', '12.05.2022', 'Всего один CLICK!','Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('4', '12.05.2022', 'Все данные в одном формате', 'MeasureOn – приложение для простого документирования поэтажных планов помещений, результатов измерений, фотографий и заметок прямо на рабочей площадке.')
					+NewsBoxItem('6', '12.05.2022', 'Созданы для работы по дереву', 'Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('8', '12.05.2022', 'Всего один CLICK!','Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('7', '12.05.2022', 'Все данные в одном формате', 'MeasureOn – приложение для простого документирования поэтажных планов помещений, результатов измерений, фотографий и заметок прямо на рабочей площадке.')
					+NewsBoxItem('6', '12.05.2022', 'Созданы для работы по дереву', 'Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')

	// end sNewsBox

mixin NewsBoxItem(img,date, title,descr)
	.col-12.col-sm-6.col-lg-4
		+e.item(href="#")
			+e.img-wrap
				.img-wrap-center
					img(loading="lazy" src=`img/@2x/news-${img}.jpg` alt="")
			+e.content
				+e.title.h4 Заголовок SEO текста
				+e.item-row.row
					.col Событие
					.col-auto 11-04-2022
				+e.descr Позаботьтесь о тепле и безопасности с принадлежностями для работы с цепной пилой
			+e.more Читать дальше