mixin sSeo(data)
	// start sSeo
	+b.SECTION.sSeo.section#sSeo&attributes(attributes)
		+e.container.container
			.row
				.col-lg-9.ms-auto
					h4 Заголовок SEO текста
					p Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не&nbsp;только успешно пережил без заметных изменений пять веков, но&nbsp;и&nbsp;перешагнул в&nbsp;электронный дизайн. Его популяризации в&nbsp;новое время послужили публикация листов Letraset с&nbsp;образцами Lorem Ipsum в&nbsp;60-х годах&nbsp;и, в&nbsp;более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в&nbsp;шаблонах которых используется Lorem Ipsum.
	// end sSeo