mixin sCart(data)
	// start sCart
	+b.sCart.section#sCart&attributes(attributes)
		+e.container.container
			//- block
			//- +b.section-title.light.long
			//- 	h2 Корзина
			+e.main-row.row
				.col-lg-8
					h1 корзина
					+cartItem()
					+cartItem()
					+cartItem()
				+e.col-order.col-lg-4
					+e.box
						+e.order-txt.h4 Ваш заказ
						+e.o-rows
							+orderRow('Товары', '4')
							+orderRow('Вес', '30 кг')
							+orderRow('Скидка', '-11 890 ₽', 'text-primary')
						+e.o-row--result.font-monospace.row
							+e.result.col ИТОГО
							+e.result--2.col-auto 24 600 ₽
						+e.promo
							+input('Промокод', 'text', false, 'promo')
							+e.p-btn(type='button')
								+icon('enter')
						//- +e.promo
						//- 	+input('Промокод', 'text', false, 'promo')(value="Freetrimer2020").is-invalid
						//- 	//- +e.p-btn(type='button')
						//- 	//- 	+icon('check')
						//- +e.promo
						//- 	+input('Промокод', 'text', false, 'promo')(value="Freetrimer2020").is-valid
						//- 	//- +e.p-btn(type='button')
						//- 	//- 	+icon('cross')
						+e.btns-box
							+e.bb-btn--green(href="#") Купить
						+e.sm Доступные способы и время доставки можно выбрать при оформлении заказа
	// end sCart
mixin orderRow(name,val,addClasses='')
	+e.o-row.row
		.col(class=addClasses)=name
		.col-auto(class=addClasses)=val

mixin cartItem()
	+e.item
		+e.cross(href='#')
			+icon('trash')
		+e.link(href="#") 
			+e.img
				//- +e.tag Новинка
				img(loading="lazy" src='img/@2x/catalog-img-1.png' alt="")
			+e.info-wrap
					p Комплект Nanlite PavoTube 15C-KIT 4 RGBWW (61 см)
		+e.inputs
			+e.i-btn--min -
			+e.INPUT.amount-input.form-control(type="number" value="1")
			+e.i-btn--plus +
		+e.price-col
			+e.price--new.font-monospace 24 600 ₽
			+e.price--old 28 400 ₽
		//- +e.price-wrap
			//- +e.discount -10%
			

	//- +e.item
	//- 	+e.wrap
	//- 		+e.img
	//- 			img(loading="lazy" src='img/@2x/category-7.png' alt="")
	//- 		+e.content
	//- 			+e.txt-col
	//- 				+e.title(href="#") GBH 36 V-LI PLUS
	//- 				+e.code Клеевой пистолет
	//- 			+e.inp-col