mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			h1 новости
			+e.row.row
				.col-lg-8
					+e.baner
						.img-wrap-center
							img(loading="lazy" src="img/@2x/news-1-lg.jpg" alt="")
					//- +e.date 11 Декабря, 2019
					+e.content
						+e.date 11 Декабря, 2019
						h1 Анонсированы светодиодные моноблоки Nanlite Forza 720 и 720B
						p Компания Nanlite (дочерняя компания Ledgo), представила новые светодиодные моноблоки Nanlite Forza 720 и&nbsp;720B&nbsp;&mdash; самые мощные осветительные приборы в&nbsp;линейке прожекторов компании.
						p Nanlite Forza 720&mdash; это светодиодный моноблок дневного света, а&nbsp;Nanlite Forza 720B&nbsp;&mdash; это двухцветный осветительный прибор с&nbsp;диапазоном света от&nbsp;2700 до&nbsp;6500К. Оба прибора имеют мощность 800Вт.
						p Также обе лампы имеют 100% диммирование, металлическую конструкцию и&nbsp;поддерживают Bluetooth&nbsp;2.4&nbsp;ГГц/DMX/RDM. Цена стартует от&nbsp;1649 долларов США (140 тысяч рублей по&nbsp;текущему курсу).
						p Новые приборы расширят линейку светодиодных моноблоков Nanlite Forza в&nbsp;которые также входят модели: 60/60B, 150, 200, 300/300B и&nbsp;500, при этом новейшие светильники 720 и&nbsp;720B самые мощные в&nbsp;этой серии. Кроме того, новые Forza 720 и&nbsp;720B также демонстрируют улучшенный дизайн и&nbsp;качество сборки.
						p Nanlite Forza 720 и&nbsp;720B&nbsp;&mdash; это два светодиодных прожектора с&nbsp;креплением Bowens и&nbsp;потребляемой мощностью 800&nbsp;Вт. Они могут выдавать мощность света до&nbsp;124&nbsp;000 люкс у&nbsp;Forza 720 и&nbsp;84&nbsp;460 люкс у&nbsp;Forza 720B на&nbsp;расстоянии до&nbsp;1&nbsp;метра при установке комплектного 45&deg;отражателя. Оба источника света регулируются от&nbsp;1&nbsp;до&nbsp;100% с&nbsp;шагом 0,1.
						p Две версии также отличаются точностью цветопередачи: 720B немного превосходит вторую модель. Так, Forza 720B имеет рейтинг CRI 96/TLCI 97, а&nbsp;версия дневного света Forza 720 имеет рейтинг CRI 95/TLCI 96. Тем не&nbsp;менее, оба прибора должны обеспечивать хорошую цветопередачу.
						p Производитель оснастил двухцветную версию двумя разными режимами работы. Режим максимального выхода фокусируется на&nbsp;интенсивности, обеспечивая максимальную яркость для каждого отдельного уровня CCT.
						p С&nbsp;другой стороны, режим постоянного вывода гарантирует, что уровень интенсивности остается неизменным при изменении цветовой температуры.
						p Согласно Nanlite, дизайн Forza 720 и&nbsp;720B был улучшен по&nbsp;сравнению с&nbsp;другими светильниками того&nbsp;же семейства. Два прожектора имеют прочную металлическую конструкцию, как и&nbsp;их&nbsp;соответствующие блоки управления. Кроме того, крепление Bowens обеспечивает большую совместимость со&nbsp;сторонними осветительными аксессуарами.
						p Светильники могут получать питание от&nbsp;прилагаемого адаптера переменного/постоянного тока или от&nbsp;батарей V-lock 14.8&nbsp;В/26&nbsp;В. Однако при использовании аккумуляторных блоков выходная мощность ограничена примерно 70-65% для элементов 26&nbsp;В и&nbsp;около&nbsp;40% для 14.8&nbsp;В.
					//- +e.back(href="#")
					//- 	+icon('back')
					//- 	| Назад
				.col-lg-4
					+e.box
						+oAtrcBoxItem('01 Января, 2020', 'Варианты подарков на Новый Год? Конечно же инструмент и аксессуары от HiKOKI!')
						+oAtrcBoxItem('01 Января, 2020', 'Варианты подарков на Новый Год? Конечно же инструмент и аксессуары от HiKOKI!')
						+oAtrcBoxItem('01 Января, 2020', 'Варианты подарков на Новый Год? Конечно же инструмент и аксессуары от HiKOKI!')
				+e.slider-col.col-lg-12
					+sCatalogFromArticle()

	// end sArticle

mixin oAtrcBoxItem(date, txt)
	+e.b-item(href="#")
		+e.b-date=date
		+e.b-txt=txt
		+e.ball
			span Читать дальше
			+icon('chevron-right')
